body {
  background: rgb(173,243,235); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(173,243,235,1) 0%, rgba(225,251,248,1) 35%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(173,243,235,1) 0%,rgba(225,251,248,1) 35%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(173,243,235,1) 0%,rgba(225,251,248,1) 35%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adf3eb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif;
}

#map {
   height: 250px;
}

#main-container {
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

#control_info_container {
  max-width: 100%;
  padding: 0 0;
}

#filter_container {
  width: 90%;
}

#meh_col {
  padding-top: 10px;
}

#smile_col {
  padding-top: 10px;
}

#state_city_list {
  padding: 0 0 10px 10px;
}

#select_rest {
  padding: 0 0 10px 15px;
}

#rest_list {
  width: 90%;
}

#category {
  padding: 10px 0 10px 15px;
}

#stars {
  padding: 0 0 10px 10px;
}

#rating_svg {
  padding: 0 0 0 0px;
}

#review_stars_col {
  text-align: left;
  padding-left: 30px;
  padding-right: 0;
}

#review_rating_col {
  padding-right: 20px;
  padding-left: 0;
}

#week_checkin {
  padding: 0 0 0 45px;
}

#hour_checkin {
  padding: 0 0 0 45px;
}

.navbar {
  background-color: #fa9d4b;
}

.navbar-custom {
  color: white;
}

.container {
  max-width: 95%;
}

.info-col {
  padding: 5px 5px;
}

.col-sm {
  padding-left: 5px;
  padding-right: 5px;
}

.slider_label {
  width: 100%;
  margin-bottom: 0px;
}

.fas {
  display: inline-block;
  width: 100%;
  text-align:center;
}

.far {
  display: inline-block;
  width: 100%;
  text-align:center;
}

.fa-meh {
  color: purple;
}

.fa-smile {
  color: #ff7707;
}

.hide {
  display: none;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: transparent;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding-top: 5px;
    padding-bottom: 10px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
}

.toolTip {
	position: absolute;
  display: none;
  min-width: 10px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  background-color: #d1fffa;
  border: 0px solid #ff9900;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  font-size: 0.6em;
  opacity: 0.8;
}

span.stars, span.stars span {
    display: inline-block;
    background: url('../img/stars.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 -1px;
}
