#map {
   height: 250px;
}

#main-container {
  padding-left: 0;
  padding-right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

#control_info_container {
  max-width: 100%;
  padding: 0 0;
}

#state_city_list {
  padding: 0 0 10px 10px;
}

#select_rest {
  padding: 0 0 10px 15px;
}

#rest_list {
  width: 90%;
}

#category {
  padding: 10px 0 10px 15px;
}

#stars {
  padding: 0 0 0 45px;
}

#rating_svg {
  padding: 0 0 0 45px;
}

#week_checkin {
  padding: 0 0 0 45px;
}

#hour_checkin {
  padding: 0 0 0 45px;
}

.container {
  max-width: 95%;
}

.info-col {
  padding: 5px 5px;
}

.col-sm {
  padding-left: 5px;
  padding-right: 5px;
}

.slider_label {
  width: 100%;
  margin-bottom: 0px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding-top: 5px;
    padding-bottom: 10px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
}

.toolTip {
	position: absolute;
  display: none;
  min-width: 20px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 0.5px solid #ff9900;
  padding: 10px;
  text-align: center;
  font-size: 0.8em;
}
