<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../assets/js/leaflet/leaflet.css">
    <script type="text/javascript" src="../assets/js/leaflet/leaflet.js">  </script>
    <script type="text/javascript" src="../assets/js/Leaflet.markercluster-1.3.0/dist/leaflet.markercluster.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/js/Leaflet.markercluster-1.3.0/dist/MarkerCluster.css">
    <link rel="stylesheet" href="../assets/js/Leaflet.markercluster-1.3.0/dist/MarkerCluster.Default.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/consumer.css">
    <!-- contains us state shapes in GeoJson format -->
    <script type="text/javascript" src="../assets/js/data/us-states.js"></script>
    <!-- contains us major cities (972 in total) in GeoJson format -->
    <script type="text/javascript" src="../assets/js/data/yelp-cities.js"></script>
    <!-- contains us state full name to abbreviations maps -->
    <script type="text/javascript" src="../assets/js/data/state2abb.js"></script>
    <script type="text/javascript" src="../assets/js/data/abb2state.js"></script>

  </head>
  <body>
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  	  <a class="navbar-brand" href="../index.html">Smart Yelp</a>
  	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  	    <span class="navbar-toggler-icon"></span>
  	  </button>
  	  <div class="collapse navbar-collapse" id="navbarNav">
  	    <ul class="navbar-nav">
  	      <li class="nav-item active">
  	        <a class="nav-link" href="./business.html">Business<span class="sr-only">(current)</span></a>
  	      </li>
          <li class="nav-item active">
  	        <a class="nav-link" href="./consumer.html">Consumer<span class="sr-only">(current)</span></a>
  	      </li>
  	    </ul>
  	  </div>
  	</nav>
    <!-- main body -->
    <div class="container-fluid">
      <!-- main content -->
      <div id="main-container" class="container">
        <!-- main row: map on left, control and info are on right -->
        <div class="row">
          <!-- map -->
          <div class="col-sm-5">
            <div id="map"></div>
          </div>
          <!-- control and info -->
          <div class="col-sm-7">
            <!-- control and info container -->
            <div id="control_info_container" class="container">
              <!-- row: control and info -->
              <div class="row">
                <!-- state, city and restaurant list -->
                <div class="col-sm-7">
                  <!-- row: state and city lists -->
                  <div class="row">
                    <div class="col-sm">
                      <select id="state_list" class="" name="state"></select>
                    </div>
                    <div class="col-sm">
                      <select id="city_list" class="" name="city"></select>
                    </div>
                  </div>
                  <!-- row: restaurant list  -->
                  <div id="select_rest" class="row">
                    <select id="rest_list" class="" size = 10></select>
                  </div>
                </div>
                <!-- filter controls -->
                <div class="col-sm-5">
                  <div id="category" class="row">
                    <!-- category list -->
                    <select id="category_list" class="" name=""></select>
                  </div>
                  <!-- aspect filters -->
                  <div id="filter_controls" class="row"></div>
                </div>
              </div>
              <!-- row: info -->
              <div class="row">
                <!-- checkin info -->
                <div id="checkin" class="col-sm-4 info-col"></div>
                <!-- review info -->
                <div class="col-sm-8">
                  <!-- star rating -->
                  <div id="review_star" class="row"></div>
                  <!-- row: text cloud -->
                  <div class="row">
                    <div id="good_text_cloud" class="col-sm-6 info-col"></div>
                    <div id="bad_text_cloud" class="col-sm-6 info-col"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <script type="text/javascript" src="../assets/js/consumer_app.js"></script>

  </body>
</html>
